absl-py==0.14.0
aiohttp==3.8.3
aiosignal==1.2.0
alembic==1.7.4
aligo==3.5.1
amqp==2.6.1
aniso8601==9.0.1
antropy==0.1.4
antspynet==0.1.8
antspyx==0.3.2
anyio==3.6.1
appdirs==1.4.4
APScheduler==3.9.1
argon2-cffi==21.1.0
arrow==1.2.2
asgiref==3.5.2
astor==0.8.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.2.0
audioread==2.1.9
autobahn==22.7.1
Automat==20.2.0
autopage==0.4.0
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.0
backports.zoneinfo==0.2.1
baidu-aip==4.16.7
bce-python-sdk==0.8.64
bidict==0.22.0
billiard==3.6.4.0
black==19.10b0
bleach==4.1.0
Bottleneck==1.3.5
braceexpand==0.1.7
brotlipy==0.7.0
cachetools==4.2.2
celery==4.4.7
certifi @ file:///croot/certifi_1665076670883/work/certifi
cffi==1.14.6
cfgv==3.3.1
charset-normalizer==2.0.6
chart-studio==1.1.0
click==8.1.3
cliff==3.9.0
cloudpickle==2.1.0
cmaes==0.8.2
cmd2==2.2.0
coloredlogs==15.0.1
colorlog==6.5.0
constantly==15.1.0
corpwechatbot==0.6.2
cptools==1.4.7
cryptography @ file:///croot/cryptography_1665612644927/work
CyberDB==0.9.2
cycler==0.10.0
Cython==0.29.24
daphne==2.5.0
datasets==2.6.1
DBUtils==3.0.2
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
denoiser==0.1.5
dill==0.3.4
Distance==0.1.3
distlib==0.3.3
Django==2.1
django-extensions==2.2.5
djangorestframework==3.11.2
dm-tree==0.1.7
docker-pycreds==0.4.0
docopt==0.6.2
dominate==2.6.0
editdistance==0.6.0
EEGRAPH==0.1.11
entrypoints==0.3
et-xmlfile==1.1.0
fabric==2.7.0
fastapi==0.85.1
ffmpeg==1.4
filelock==3.0.12
flake8==5.0.4
Flask==2.1.2
Flask-APScheduler==1.12.3
Flask-Babel==2.0.0
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-MySQLdb==1.0.1
Flask-RESTful==0.3.9
Flask-Script==2.0.6
flask-sock==0.5.2
Flask-SocketIO==5.1.2
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.5.1
flatbuffers==2.0
frozenlist==1.3.1
fsspec==2022.8.2
g2p-en==2.1.0
g2pM==0.1.2.5
gast==0.5.3
gevent==21.8.0
gevent-websocket==0.10.1
gitdb==4.0.9
GitPython==3.1.27
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.1
grpcio==1.40.0
gunicorn==20.1.0
h11==0.14.0
h5py==3.4.0
huggingface-hub==0.8.1
humanfriendly==10.0
hydra-colorlog==0.1.4
hydra-core==0.11.3
hyperlink==21.0.0
HyperPyYAML==1.0.0
identify==2.3.0
idna @ file:///croot/idna_1666125576474/work
imageio==2.19.3
importlib==1.0.4
importlib-metadata==4.8.1
importlib-resources==5.4.0
incremental==22.10.0
inflect==6.0.0
invoke==1.7.1
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.1.2
jedi==0.18.0
jieba==0.42.1
Jinja2==3.0.1
joblib==1.0.1
json5==0.9.6
jsonlines==3.1.0
jsonpatch==1.32
jsonpointer==2.3
jsonschema==3.2.0
julius==0.2.7
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-server==1.11.0
jupyterlab==3.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.8.2
jupyterlab-widgets==1.0.2
kaldiio==2.17.2
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
kombu==4.6.11
libclang==14.0.1
librosa==0.9.1
llvmlite==0.39.1
loguru==0.6.0
lxml==4.9.1
Mako==1.2.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.7.0
mediapipe==0.8.10
minio==7.1.10
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mne==0.22.0
more-itertools==8.10.0
mpmath==1.2.1
multidict==6.0.2
multiprocess==0.70.12.2
mysqlclient==2.1.0
nara-wpe==0.0.8
nbclassic==0.3.2
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nibabel==3.2.2
nltk==3.7
nodeenv==1.6.0
notebook==6.4.4
numba==0.56.3
numpy==1.22.4
obj-encrypt==0.7.0
omegaconf==1.4.1
onnxruntime==1.11.1
OpenCC==1.1.4
opencv-contrib-python==4.5.5.64
openpyxl==3.0.9
opt-einsum==3.3.0
optuna==2.10.0
packaging==21.0
paddle-bfloat==0.1.7
paddle2onnx==1.0.1
paddlefsl==1.1.0
paddlenlp==2.4.1
paddlespeech-feat==0.1.0
pandas==1.3.3
pandocfilters==1.5.0
parso==0.8.2
pathlib2==2.3.7.post1
pathos==0.2.8
pathspec==0.9.0
pathtools==0.1.2
patsy==0.5.2
pattern-singleton==1.2.0
pbr==5.7.0
pescador==2.1.0
pexpect==4.8.0
phone==0.4.3
pickleshare==0.7.5
Pillow==9.2.0
pipreqs==0.4.11
platformdirs==2.4.0
playsound==1.3.0
plotly==5.4.0
pluggy==0.13.1
pooch==1.5.1
portalocker==2.6.0
pox==0.3.1
ppft==1.7.6.5
praatio==5.0.0
pre-commit==2.15.0
prettytable==2.4.0
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.20
protobuf==3.20.0
psutil==5.9.1
ptyprocess==0.7.0
py==1.10.0
pyannote.audio==1.1.1
pyannote.core==4.3
pyannote.database==4.1.1
pyannote.metrics==3.1
pyannote.pipeline==1.5.2
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.8.0
pycodestyle==2.9.1
pycparser==2.20
pycryptodome==3.14.1
pydantic==1.10.2
pydub==0.25.1
pyflakes==2.5.0
Pygments==2.10.0
pyhht==0.1.0
PyMySQL==1.0.2
pynndescent==0.5.7
pyOpenSSL==22.1.0
pyparsing==2.4.7
pyperclip==1.8.2
pypinyin==0.44.0
pypinyin-dict==0.3.0
pyroomacoustics==0.5.0
pyrsistent==0.18.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pystoi==0.3.3
pytest==5.4.1
pytest-runner==6.0.0
python-crontab==2.5.1
python-dateutil==2.8.2
python-engineio==4.3.2
python-socketio==5.6.0
pytz==2022.5
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
pyworld==0.2.12
PyYAML==6.0
pyzmq==22.3.0
qrcode==7.3.1
qrcode-terminal==0.8
qtconsole==5.1.1
QtPy==1.11.2
redis==3.2.0
regex==2021.10.8
requests @ file:///opt/conda/conda-bld/requests_1657734628632/work
requests-oauthlib==1.3.0
resampy==0.2.2
responses==0.18.0
retrying==1.3.3
rpy2==3.4.5
rsa==4.7.2
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
sacrebleu==2.3.1
schedule==1.1.0
scikit-image==0.19.2
scikit-learn==1.0
scipy==1.7.1
scot==0.2.1
seaborn==0.11.2
Send2Trash==1.8.0
sentencepiece==0.1.96
sentry-sdk==1.5.12
seqeval==1.2.2
service-identity==21.1.0
setproctitle==1.2.3
shellcheck-py==0.8.0.4
shellingham==1.4.0
shortuuid==1.0.1
simple-websocket==0.5.2
simpleflake==0.1.5
SimpleITK==2.1.1.2
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
sounddevice==0.4.4
SoundFile==0.10.3.post1
spectralcluster==0.2.4
speechbrain==0.5.12
SQLAlchemy==1.4.26
starlette==0.20.4
statsmodels==0.13.1
stevedore==3.5.0
stochastic==0.6.0
supervisor==4.2.2
sympy==1.9
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
tensorflow-probability==0.16.0
terminado==0.12.1
testpath==0.5.0
TextGrid==1.5
tf-estimator-nightly==2.8.0.dev2021122109
tftb==0.1.3
threadpoolctl==3.0.0
tifffile==2022.5.4
timer==0.2.2
tokenizers==0.12.1
toml==0.10.2
torch==1.11.0+cu113
torch-tb-profiler==0.4.0
torchaudio==0.11.0+cu113
torchfile==0.1.0
torchvision==0.12.0+cu113
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
transformers==4.20.1
Twisted==22.8.0
txaio==22.2.1
typed-ast==1.4.3
typeguard==2.13.3
typing==3.7.4.3
typing_extensions==4.4.0
tzdata==2021.5
tzlocal==4.0.1
umap-learn==0.5.3
urllib3==1.26.6
uvicorn==0.18.3
uWSGI==2.0.19.1
vine==1.3.0
virtualenv==20.8.1
visdom==0.1.8.9
visualdl==2.2.3
wandb==0.12.17
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.2.1
websockets==10.3
Werkzeug==2.0.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.14.0
wsproto==1.1.0
xlwt==1.3.0
xxhash==3.0.0
yacs==0.1.8
yamllint==1.23.0
yarg==0.1.9
yarl==1.8.1
zhon==1.1.5
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
