celery==4.4.7
daphne==2.5.0
ffmpeg==1.4
Flask==2.1.2
Flask-APScheduler==1.12.3
Flask-Babel==2.0.0
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-MySQLdb==1.0.1
Flask-RESTful==0.3.9
Flask-Script==2.0.6
flask-sock==0.5.2
Flask-SocketIO==5.1.2
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.5.1
gevent==21.8.0
gevent-websocket==0.10.1
gunicorn==20.1.0
huggingface_hub==0.8.1
ipython==7.28.0
numpy==1.21.2
onnxruntime==1.11.1
phone==0.4.3
PyMySQL==1.0.2
redis==3.2.0
requests==2.26.0
SoundFile==0.10.3.post1
librosa==0.9.1
speechbrain==0.5.12
SQLAlchemy==1.4.26
supervisor==4.2.2
tokenizers==0.12.1
transformers==4.20.1
torch==1.10.1
torchaudio==0.10.1
torchvision==0.11.2
tqdm==4.62.3
wget==3.2
minio==7.1.10